mixin footer-inner(addclass)
    footer-inner.footer-inner#footer-inner(role="contentinfo", class= addclass)
        .footer-inner__in
            .footer-inner__left
                .footer-inner__logo
                p.footer-inner__company Мирный воин. ООО «Авангард Уфа» <br>ОГРН 1120280046732 ИНН 0274171375
                
            .footer-inner__mid
                p.footer-inner__copyright Все права защищены. Copyright &copy; 2012-2016. <br>Использование текстов, изображений и видеоматериалов с данной страницы без письменного разрешения Талгата Юнусова запрещено законом.
                p.footer-inner__contacts Телефон для справок <a href="tel:88003330337" class="footer-inner__phone-link">8-800-333-0-337</a> <br>Служба поддержки: <a href="mailto:support@mvoin.ru" class="footer-inner__email-link">support@mvoin.ru</a> <br><a href="#popup-privacy" class="footer-inner__privacy-link">Политика конфиденциальности</a>

            .footer-inner__right
                a(href="http://web-upakovka.ru" target="_blank" rel="nofollow").footer-inner__developed Разработка сайта
