mixin s-chance(addclass)
    section.s-chance(class= addclass)#chance
        .s-chance__in
            h2.s-chance__title Не упусти свой шанс получить:
            ul.s-chance__list
                li.s-chance__item
                    h3.s-chance__item-title Знания
                    p.s-chance__item-text Ты будешь разбираться в законах и правах призывников, сможешь защитить не только себя, но также своих родных и друзей.
                li.s-chance__item
                    h3.s-chance__item-title Уверенность
                    p.s-chance__item-text Пока другие ребята думают, как избежать армии, ты уже с военным билетом и живешь полной жизнью. 
                li.s-chance__item
                    h3.s-chance__item-title Время
                    p.s-chance__item-text Ты не потеряешь 12 месяцев, а с удовольствием используешь их для семьи, карьеры и путешествий.
                li.s-chance__item
                    h3.s-chance__item-title Свободу
                    p.s-chance__item-text Армия больше никогда не станет преградой твоим планам на гражданке.
