.s-appeal
    background #fff url(img/s-appeal-bg.jpg) no-repeat center center

    &__in
        container(1000px)
        padding 120px 20px 60px
        min-height 687px
        +below(480px)
            padding-top 80px
            min-height auto

    &__title
        color black
        font(Russo)
        font-size 50px
        line-height 1
        text-align center
        margin 0 0 30px
        +below(480px)
            font-size 40px

    &__subtitle
        max-width 640px
        color black
        font(Bold)
        font-size 32px
        line-height 1.5
        text-align center
        margin 0 auto 65px
        +below(480px)
            font-size 24px

    &__button
        button()
        margin 0 auto

    &__subbutton
        color #b8b8b8
        font()
        font-size 14px
        line-height 1
        text-align center
        margin 15px 0 0
