mixin s-appeal(addclass)
    section.s-appeal(class= addclass)#appeal 
        .s-appeal__in
            h2.s-appeal__title Ты нужен здесь, а не там
            p.s-appeal__subtitle Закажи курс прямо сейчас и будь готов к&nbsp;любым ситуациям!
            button(data-mfp-src="#popup-order").s-appeal__button.js-popup Заказать курс
            p.s-appeal__subbutton и получить доступ к видеоматериалам
