mixin popup-recovery-ok(addclass)
    .popup-recovery-ok.popup(class= addclass)#popup-recovery-ok
        h3.popup-recovery-ok__title Запрос отправлен!
        p.popup-recovery-ok__text Мы свяжемся с Вами в самое ближайшее время.
        button.popup-recovery-ok__button.js-close-button Закрыть

mixin popup-video-1(addclass)
    .popup-video.popup#popup-video-1(class= addclass)
        h2.popup-video__title 1. Права и обязанности призывников
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        button(data-mfp-src="#popup-order").popup-video__button.js-popup Получить полный доступ к курсу

mixin popup-video-2(addclass)
    .popup-video.popup#popup-video-2(class= addclass)
        h2.popup-video__title 2. Моя история
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        button(data-mfp-src="#popup-order").popup-video__button.js-popup Получить полный доступ к курсу

mixin popup-video-3(addclass)
    .popup-video.popup#popup-video-3(class= addclass)
        h2.popup-video__title 3. Как откосить от армии
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        button(data-mfp-src="#popup-order").popup-video__button.js-popup Получить полный доступ к курсу

mixin popup-video-4(addclass)
    .popup-video.popup#popup-video-4(class= addclass)
        h2.popup-video__title 4. Сколько стоит военный билет
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-5(addclass)
    .popup-video.popup#popup-video-5(class= addclass)
        h2.popup-video__title 5. Пришла повестка
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-6(addclass)
    .popup-video.popup#popup-video-6(class= addclass)
        h2.popup-video__title 6. Призыв на военную службу. Весенний и осенний
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-7(addclass)
    .popup-video.popup#popup-video-7(class= addclass)
        h2.popup-video__title 1. Расписания болезней
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-8(addclass)
    .popup-video.popup#popup-video-8(class= addclass)
        h2.popup-video__title 2. Категория годности
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-9(addclass)
    .popup-video.popup#popup-video-9(class= addclass)
        h2.popup-video__title 3. Анализ состояния здоровья
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-10(addclass)
    .popup-video.popup#popup-video-10(class= addclass)
        h2.popup-video__title 4. Моя история. Кейсы.
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-11(addclass)
    .popup-video.popup#popup-video-11(class= addclass)
        h2.popup-video__title 1. Подготовка
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-12(addclass)
    .popup-video.popup#popup-video-12(class= addclass)
        h2.popup-video__title 2. Перепроверка
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-13(addclass)
    .popup-video.popup#popup-video-13(class= addclass)
        h2.popup-video__title 3. Моя история
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-14(addclass)
    .popup-video.popup#popup-video-14(class= addclass)
        h2.popup-video__title 1. Медкомиссия в военкомате. Кейсы
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-15(addclass)
    .popup-video.popup#popup-video-15(class= addclass)
        h2.popup-video__title 2. Заполнение акта
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-16(addclass)
    .popup-video.popup#popup-video-16(class= addclass)
        h2.popup-video__title 3. Жалоба на военкомат
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-17(addclass)
    .popup-video.popup#popup-video-17(class= addclass)
        h2.popup-video__title 1. Подготовка
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-18(addclass)
    .popup-video.popup#popup-video-18(class= addclass)
        h2.popup-video__title 2. Дополнительное обследование
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-19(addclass)
    .popup-video.popup#popup-video-19(class= addclass)
        h2.popup-video__title 3. Документы на получение ВБ
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-20(addclass)
    .popup-video.popup#popup-video-20(class= addclass)
        h2.popup-video__title 4. Силовой призыв
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-21(addclass)
    .popup-video.popup#popup-video-21(class= addclass)
        h2.popup-video__title 1. По здоровью
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-22(addclass)
    .popup-video.popup#popup-video-22(class= addclass)
        h2.popup-video__title 2. По обучению
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-23(addclass)
    .popup-video.popup#popup-video-23(class= addclass)
        h2.popup-video__title 3. Отсрочка от армии
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-24(addclass)
    .popup-video.popup#popup-video-24(class= addclass)
        h2.popup-video__title 1. Военный билет 27
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-25(addclass)
    .popup-video.popup#popup-video-25(class= addclass)
        h2.popup-video__title 2. Первоначальная постановка на воинский учет
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-26(addclass)
    .popup-video.popup#popup-video-26(class= addclass)
        h2.popup-video__title 3. АГС
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-27(addclass)
    .popup-video.popup#popup-video-27(class= addclass)
        h2.popup-video__title 4. Получение загранпаспорта
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-28(addclass)
    .popup-video.popup#popup-video-28(class= addclass)
        h2.popup-video__title 5. Статьи в военнике. Часто задаваемые вопросы
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-video-29(addclass)
    .popup-video.popup#popup-video-29(class= addclass)
        h2.popup-video__title 6. Новые правила в спорах
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        
mixin popup-order(addclass)
    .popup-order.popup#popup-order(class= addclass)
        h2.popup-order__title Заказать курс
        h3.popup-order__subtitle Инструкция к курсу «Как получить военный билет самостоятельно»
        ol.popup-order__list
            li.popup-order__item <strong>1.</strong> После произведения оплаты вы получаете доступ к материалам на свой e-mail.
            li.popup-order__item <strong>2.</strong> Если по каким-то причинам письмо не пришло - загляните в папку спама.
            li.popup-order__item <strong>3.</strong> Если же его и там нет, а вы на 100% уверены, что ваш платёж нам зачислился, то сразу же напишите в нашу службу поддержки <a href="mailto:support@mvoin.ru">support@mvoin.ru</a>
            li.popup-order__item <strong>4.</strong> Вы защищены 100% гарантией возврата денег на тот случай, если что-то пойдет не так. Гарантия действует 365 дней от момента заказа.

        .popup-order__checkbox-block
            input(type="checkbox" name="check1").popup-order__checkbox#popup-order-checkbox-1
            label(for="popup-order-checkbox-1").popup-order__checkbox-label Да, я это прочитал(а) и возражений не имею.
            p.popup-order__error#popup-order-error-1 Пожалуйста, примите условия заказа
        .popup-order__checkbox-block
            input(type="checkbox" name="check2").popup-order__checkbox#popup-order-checkbox-2
            label(for="popup-order-checkbox-2").popup-order__checkbox-label Я согласен(на) с условиями <a href="/offerta.html" target="_blank">публичной оферты</a>.
            p.popup-order__error#popup-order-error-2 Пожалуйста, отметьте согласие с оффертой

        button(data-href="http://kurs.mvoin.ru/order").popup-order__button ОПЛАТИТЬ КУРС

mixin popup-privacy(addclass)
    .popup-privacy.popup#popup-privacy(class= addclass)
        .popup-privacy__content
            h2 Информация о политике конфиден&shy;циальности на сайте KURS.MVOIN.RU
    
            p Мы признаем важность конфиденциальности информации. В этом документе описывается, какую личную информацию мы получаем и собираем, когда вы пользуетесь сайтом <a href="http://kurs.mvoin.ru/">http://kurs.mvoin.ru/</a>
    
            p Мы надеемся, что эти сведения помогут вам принимать осознанные решения в отношении предоставляемой нам личной информации.
    
            h3 Общедоступная информация
    
            p Если вы просто просматриваете сайт без регистрации, информация о вас не публикуется на сайте.
    
            h3 Электронная почта, телефон и другие контакты
    
            p Адрес электронной почты, телефон и другие способы связи, указываемые Вами при заказе обратного звонка, не показывается другим посетителям сайта.
    
            p Мы можем сохранять сообщения электронной почте и другие письма, отправленные пользователями, чтобы обрабатывать вопросы пользователей, отвечать на запросы и совершенствовать наши службы.
    
            h3 Протоколирование
                
            p При каждом посещении сайта наши серверы автоматически записывают информацию, которую ваш браузер передает при посещении веб-страниц. Как правило эта информация включает запрашиваемую веб-страницу, IP-адрес компьютера, тип браузера, языковые настройки браузера, дату и время запроса, а также один или несколько файлов cookie, которые позволяют точно идентифицировать ваш браузер.
    
            h3 Куки (Cookie)

            p На сайте <a href="http://kurs.mvoin.ru/">http://kurs.mvoin.ru/</a> используются куки (Cookies), происходит сбор данных о посетителях с помощью сервисов Яндекс Метрика. Эти данные служат для сбора информации о действиях посетителей на сайте, для улучшения качества его содержания и возможностей.
    
            p В любое время вы можете изменить параметры в настройках вашего браузера таким образом, чтобы браузер перестал сохранять все файлы cookie, а так же оповещал их об отправке. При этом следует учесть, что в этом случае некоторые сервисы и функции могут перестать работать.
    
            h3 Изменение Политики конфиденциальности
                
            p На этой странице вы сможете узнать о любых изменениях данной политики конфиденциальности. В особых случаях, вам будет выслана информация на Ваш e-mail.
    
            h3 Обратная связь
    
            p Вы можете задать любые вопросы, написав на e-mail: <a href="mailto:support@mvoin.ru">support@mvoin.ru</a>
