mixin form-order(addclass)
    form.form-order.popup(action="assets/sendmail.php", method="POST", class= addclass)#form-order
        h3.form-order__title Запишитесь на бесплатную консультацию
        input(type="hidden" name="form" value="form-order")
        input(type="text" name="name" placeholder="Ваше имя").form-order__input
        input(type="tel" name="phone" placeholder="Ваш телефон").form-order__input.js-phone-field
        button(type="submit" role="button").form-order__button Записаться
        p.form-order__privacy Все данные строго конфиденциальны

mixin popup-thankyou(addclass)
    .popup-thankyou.popup(class= addclass)#popup-thankyou
        h3.popup-thankyou__title Спасибо!
        p.popup-thankyou__text Спасибо, что оставили заявку. Мы свяжемся с Вами в самое ближайшее время.
        button.popup-thankyou__button.js-close-button Закрыть

mixin popup-video-1(addclass)
    .popup-video.popup#popup-video-1(class= addclass)
        h2.popup-video__title 1. Права и обязанности призывников
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        button(data-mfp-src="#popup-order").popup-video__button.js-popup Получить полный доступ к курсу

mixin popup-video-2(addclass)
    .popup-video.popup#popup-video-2(class= addclass)
        h2.popup-video__title 2. Моя история
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        button(data-mfp-src="#popup-order").popup-video__button.js-popup Получить полный доступ к курсу

mixin popup-video-3(addclass)
    .popup-video.popup#popup-video-3(class= addclass)
        h2.popup-video__title 3. Как откосить от армии
        .popup-video__content
            iframe(width="570" height="319" src="https://www.youtube.com/embed/J9AXqGaY__w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen).popup-video__video
            .popup-video__aside
                h3.popup-video__aside-title Заметка
                textarea.popup-video__textarea
                p.popup-video__placeholder Запишите важные мысли, чтобы не забыть
        button(data-mfp-src="#popup-order").popup-video__button.js-popup Получить полный доступ к курсу
        
mixin popup-order(addclass)
    .popup-order.popup#popup-order(class= addclass)
        h2.popup-order__title Заказать курс
        h3.popup-order__subtitle Инструкция к курсу «Как получить военный билет самостоятельно»
        ol.popup-order__list
            li.popup-order__item <strong>1.</strong> После произведения оплаты вы получаете доступ к материалам на свой e-mail.
            li.popup-order__item <strong>2.</strong> Если по каким-то причинам письмо не пришло - загляните в папку спама.
            li.popup-order__item <strong>3.</strong> Если же его и там нет, а вы на 100% уверены, что ваш платёж нам зачислился, то сразу же напишите в нашу службу поддержки <a href="mailto:support@mvoin.ru">support@mvoin.ru</a>
            li.popup-order__item <strong>4.</strong> Вы защищены 100% гарантией возврата денег на тот случай, если что-то пойдет не так. Гарантия действует 365 дней от момента заказа.

        .popup-order__checkbox-block
            input(type="checkbox" name="check1").popup-order__checkbox#popup-order-checkbox-1
            label(for="popup-order-checkbox-1").popup-order__checkbox-label Да, я это прочитал(а) и возражений не имею.
            p.popup-order__error#popup-order-error-1 Пожалуйста, примите условия заказа
        .popup-order__checkbox-block
            input(type="checkbox" name="check2").popup-order__checkbox#popup-order-checkbox-2
            label(for="popup-order-checkbox-2").popup-order__checkbox-label Я согласен(на) с условиями <a href="/offerta.html" target="_blank">публичной оферты</a>.
            p.popup-order__error#popup-order-error-2 Пожалуйста, отметьте согласие с оффертой

        button(data-href="http://kurs.mvoin.ru/order").popup-order__button ОПЛАТИТЬ КУРС

mixin popup-privacy(addclass)
    .popup-privacy.popup#popup-privacy(class= addclass)
        .popup-privacy__content
            h2 Информация о политике конфиден&shy;циальности на сайте KURS.MVOIN.RU
    
            p Мы признаем важность конфиденциальности информации. В этом документе описывается, какую личную информацию мы получаем и собираем, когда вы пользуетесь сайтом <a href="http://kurs.mvoin.ru/">http://kurs.mvoin.ru/</a>
    
            p Мы надеемся, что эти сведения помогут вам принимать осознанные решения в отношении предоставляемой нам личной информации.
    
            h3 Общедоступная информация
    
            p Если вы просто просматриваете сайт без регистрации, информация о вас не публикуется на сайте.
    
            h3 Электронная почта, телефон и другие контакты
    
            p Адрес электронной почты, телефон и другие способы связи, указываемые Вами при заказе обратного звонка, не показывается другим посетителям сайта.
    
            p Мы можем сохранять сообщения электронной почте и другие письма, отправленные пользователями, чтобы обрабатывать вопросы пользователей, отвечать на запросы и совершенствовать наши службы.
    
            h3 Протоколирование
                
            p При каждом посещении сайта наши серверы автоматически записывают информацию, которую ваш браузер передает при посещении веб-страниц. Как правило эта информация включает запрашиваемую веб-страницу, IP-адрес компьютера, тип браузера, языковые настройки браузера, дату и время запроса, а также один или несколько файлов cookie, которые позволяют точно идентифицировать ваш браузер.
    
            h3 Куки (Cookie)

            p На сайте <a href="http://kurs.mvoin.ru/">http://kurs.mvoin.ru/</a> используются куки (Cookies), происходит сбор данных о посетителях с помощью сервисов Яндекс Метрика. Эти данные служат для сбора информации о действиях посетителей на сайте, для улучшения качества его содержания и возможностей.
    
            p В любое время вы можете изменить параметры в настройках вашего браузера таким образом, чтобы браузер перестал сохранять все файлы cookie, а так же оповещал их об отправке. При этом следует учесть, что в этом случае некоторые сервисы и функции могут перестать работать.
    
            h3 Изменение Политики конфиденциальности
                
            p На этой странице вы сможете узнать о любых изменениях данной политики конфиденциальности. В особых случаях, вам будет выслана информация на Ваш e-mail.
    
            h3 Обратная связь
    
            p Вы можете задать любые вопросы, написав на e-mail: <a href="mailto:support@mvoin.ru">support@mvoin.ru</a>
