mixin s-advantages(addclass)
    section.s-advantages(class= addclass)#advantages
        .s-advantages__in
            h2.s-advantages__title Преимущества видеокурса
            ul.s-advantages__list
                li.advantage.s-advantages__item
                    h3.advantage__title Информация о законах и&nbsp;правах призывников
                    ul.advantage__list
                        li.advantage__item Узнай, как доказать свою болезнь
                        li.advantage__item Не позволяй врачам и чиновникам «вытирать об тебя ноги»
                        li.advantage__item Защити свои интересы
                
                li.advantage.s-advantages__item
                    h3.advantage__title Четкая стратегия освобождения от армии
                    ul.advantage__list
                        li.advantage__item Изучи рекомендации по отсрочке и освобождению от армии
                        li.advantage__item Составь пошаговую схему действий
                        li.advantage__item Получи заветное освобождение

                li.advantage.s-advantages__item
                    h3.advantage__title Дополнительные материалы
                    ul.advantage__list
                        li.advantage__item Узнай, как подготовиться к призыву
                        li.advantage__item Получи надежный «арсенал знаний» для защиты от обязательной службы
                        li.advantage__item Научись правильно действовать в ситуации, когда военкомат превышает полномочия
            
            .s-advantages__button-block
                button.s-advantages__button Оплатить курс
                p.s-advantages__subbutton и получить доступ к видеоматериалам
