mixin s-author(addclass)
    section.s-author(class= addclass)#author
        .s-author__in
            .s-author__left
                ul.s-author__gallery
                    li.s-author__gallery-item
                        a(href="assets/img/gallery/gallery-1.jpg").s-author__gallery-link.js-author-gallery
                            img(src="assets/img/gallery/gallery-1-mini.jpg" alt="").s-author__gallery-img
                    li.s-author__gallery-item
                        a(href="assets/img/gallery/gallery-2.jpg").s-author__gallery-link.js-author-gallery
                            img(src="assets/img/gallery/gallery-2-mini.jpg" alt="").s-author__gallery-img
                    li.s-author__gallery-item
                        a(href="assets/img/gallery/gallery-3.jpg").s-author__gallery-link.js-author-gallery
                            img(src="assets/img/gallery/gallery-3-mini.jpg" alt="").s-author__gallery-img
                    li.s-author__gallery-item
                        a(href="assets/img/gallery/gallery-4.jpg").s-author__gallery-link.js-author-gallery
                            img(src="assets/img/gallery/gallery-4-mini.jpg" alt="").s-author__gallery-img
                    li.s-author__gallery-item
                        a(href="assets/img/gallery/gallery-5.jpg").s-author__gallery-link.js-author-gallery
                            img(src="assets/img/gallery/gallery-5-mini.jpg" alt="").s-author__gallery-img

            .s-author__right
                p.s-author__pretitle Автор курса
                h2.s-author__title Талгат <strong>Юнусов</strong>
                
                h3.s-author__headline Основатель Службы помощи призывникам <strong>«Мирный воин»</strong>
                ul.s-author__list.s-author__list--red
                    li.s-author__item 7 филиалов по всей России
                    li.s-author__item 5 лет успешной практики
                    li.s-author__item Личная консультация для 100% результата
                
                h3.s-author__headline Эксперт, автор пошаговой стратегии "5 способов получить военный билет"
                ul.s-author__list
                    li.s-author__item Освободился от армии без юристов и взяток
                    li.s-author__item Помог 532 призывникам получить военный билет (и это число растет)
                    li.s-author__item Более 500 000 просмотров на личном канале YouTube

                ul.s-author__videos
                    li.s-author__videos-item
                        a(href="#").s-author__videos-link Смотреть мастер-класс Талгата Юнусова «5 способов получить военный билет»
                    li.s-author__videos-item
                        a(href="#").s-author__videos-link Первый канал в гостях у Талгата Юнусова
