mixin s-videos(addclass)
    section.s-videos(class= addclass)#videos
        img(src="assets/img/s-kurs-cover.jpg" width="1000" height="838" alt="Мирный воин").s-videos__cover
        .s-videos__in
            p.s-videos__pretitle Вы смотрите видеокурс Талгата&nbsp;Юнусова
            h1.s-videos__title-1 «Как получить военный
            h1.s-videos__title-2 билет самостоятельно»
            
            .videos.s-videos__videos
                ul.videos__pages
                    li.videos__page.active
                        h3.videos__page-title 1. Введение
                        ol.videos__videos
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Права и обязанности призывников
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Моя история
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Как откосить от армии
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Сколько стоит военный билет
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Пришла повестка
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Призыв на военную службу. Весенний и осенний
                    li.videos__page
                        h3.videos__page-title 2. Диагностика
                        ol.videos__videos
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Расписания болезней
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Категория годности
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Анализ состояния здоровья
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Моя история. Кейсы.
                    li.videos__page
                        h3.videos__page-title 3. Обследование
                        ol.videos__videos
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Подготовка
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Перепроверка
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Моя история
                    li.videos__page
                        h3.videos__page-title 4. Подтверждение в военкомате
                        ol.videos__videos
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Медкомиссия в военкомате. Кейсы
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Заполнение акта
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Жалоба на военкомат
                    li.videos__page
                        h3.videos__page-title 5. КМО
                        ol.videos__videos
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Подготовка
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Дополнительное обследование
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Документы на получение ВБ
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Силовой призыв
                    li.videos__page
                        h3.videos__page-title 6. Отсрочка
                        ol.videos__videos
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video По здоровью
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video По обучению
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Отсрочка от армии
                    li.videos__page
                        h3.videos__page-title 7. Дополнительно
                        ol.videos__videos
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Военный билет 27
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Первоначальная постановка на воинский учет
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video АГС
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Получение загранпаспорта
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Статьи в военнике. Часто задаваемые вопросы
                            li.videos__video
                                a(href="https://www.youtube.com/embed/J9AXqGaY__w").videos__video-link.js-popup-video Новые правила в спорах
