mixin s-team(addclass)
    section.s-team(class= addclass)#team
        .s-team__in
            h2.s-team__title <strong>Можно нанять целую команду</strong> <br>из консультантов, врачей, юристов, которые будут отстаивать твои права перед военкоматом.
            p.s-team__expensive Это стоит очень дорого.
            p.s-team__solution <strong>Выход - заказать видеокурс</strong> <br>всего <span class="s-team__solution--price">3500 рублей</span>
            p.s-team__effect Эффект видеокурса равен эффекту команды специалистов. Следуй инструкции, и у тебя все получится!
            .s-team__guaranty
                h3.s-team__guaranty-title Гарантия
                p.s-team__guaranty-text Если информация из видеокурса покажется тебе неактуальной и не принесет пользы, мы вернем полную стоимость
