include ../mmenu-trigger/mmenu-trigger
mixin nav(addclass)
    nav.nav(class= addclass)#nav
        .nav__in
            +mmenu-trigger("nav__mmenu-trigger")
            ul.nav__menu
                li.nav__menu-item
                    a(href="#").nav__menu-link Автор курса
                li.nav__menu-item
                    a(href="#").nav__menu-link.nav__menu-link--active Бесплатные видео
                li.nav__menu-item
                    a(href="#").nav__menu-link Вопрос/Ответ
            button.nav__button Купить курс
