.s-reasons
    background #141414 url(img/s-reasons-bg.jpg) no-repeat center center
    background-size cover

    &__in
        container(1140px)
        padding 110px 20px 40px
        +below(480px)
            padding-top 50px

    &__title
        color white
        font(Extra)
        font-size 50px
        line-height 1
        text-align center
        margin 0 0 105px
        +below(480px)
            font-size 35px
            margin-bottom 50px

    &__list
        display block
        width 100%
        list-style none
        font-size 0
        text-align center
        padding 0
        margin 0

    &__item
        display inline-block
        vertical-align top
        width 100%
        max-width 300px
        color white
        font(Bold)
        font-size 24px
        line-height 1.25
        text-align left
        padding-top 80px
        position relative
        margin 0 30px 70px
        &::before
            content ""
            position absolute
            top 0
            left 0
        &:nth-child(3n+2)
            padding-left 10px
            +below(1140px)
                padding-left 0
        &:nth-child(1)
            &::before
                sprite($icon_strap_1)
        &:nth-child(2)
            &::before
                sprite($icon_strap_2)
        &:nth-child(3)
            &::before
                sprite($icon_strap_3)
        &:nth-child(4)
            &::before
                sprite($icon_strap_4)
        &:nth-child(5)
            &::before
                sprite($icon_strap_5)
        &:nth-child(6)
            &::before
                sprite($icon_strap_6)
        +below(1000px)
            margin 0 10px 60px
        +below(480px)
            font-size 20px
            padding-top 60px
            margin 0 auto 40px
