mixin s-reasons(addclass)
    section.s-reasons(class= addclass)#reasons
        .s-reasons__in
            h2.s-reasons__title Этот курс точно для тебя, если:
            ol.s-reasons__list
                li.s-reasons__item Ты не хочешь платить взятки и делать липовые справки
                li.s-reasons__item Тебе 27 и больше, а военного билета нет
                li.s-reasons__item Ты успешный бизнесмен или строишь карьеру, но армия рушит все твои планы
                li.s-reasons__item Одна мысль об армии вызывает страх и дрожь
                li.s-reasons__item Нет никаких идей, как избежать призыва
                li.s-reasons__item Ты боишься, что военкомат заберет тебя прямо из дома
