mixin footer(addclass)
    footer.footer#footer(role="contentinfo", class= addclass)
        .footer__in
            .footer__left
                .footer__logo
                p.footer__company Все права защищены. Copyright © <br>2012-2016. Мирный Воин. <br>ООО «Авангард Уфа» <br>ОГРН 1120280046732 ИНН 0274171375

            .footer__mid
                p.footer__order По вопросам заказа курса звоните по телефону <a href="tel:8805002990" class="footer__phone-link">8-800-500-29-90</a>
                p.footer__contacts с 7:00 до 15:00 в ПН-ПТ, в СБ с 7:00 до 12:00, ВС - выходной. Время указано московское, звонок бесплатный для РФ. <br>Служба поддержки: <a href="mailto:support@mvoin.ru" class="footer__email-link">support@mvoin.ru</a>
                a(href="#popup-privacy").footer__privacy.js-popup-privacy Политика конфиденциальности

            .footer__right
                a(href="http://web-upakovka.ru" target="_blank" rel="nofollow").footer__developed Разработка сайта
