a, input, *:focus
    outline none

html
    box-sizing border-box
    height 100%
    margin 0

*, *:before, *:after
    box-sizing inherit

.hidden
    display none

.animated
    animation-duration 1s
