container(w = 1000px)
    display block
    max-width w
    margin 0 auto
    position relative

font(face = Regular)
    if face == Regular
        font-family "RalewayRegular", sans-serif
        font-weight 400
    if face == Bold
        font-family "RalewayBold", sans-serif
        font-weight 700
    if face == Black
        font-family "RalewayBlack", sans-serif
        font-weight 900
    if face == Extra
        font-family "RalewayExtraBold", sans-serif
        font-weight 700
    if face == Russo
        font-family "RussoOneRegular", sans-serif
        font-weight 400

button()
    display block
    width 100%
    max-width 280px
    height 61px
    background-color #ffea00
    background-image linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 0.16) 100%)
    border none
    border-top 3px solid transparent
    border-bottom 3px solid #b8a900
    color black
    font(Russo)
    font-size 17px
    font-weight 400
    line-height 1
    text-align center
    padding 0 20px
    text-transform uppercase
    transition all .5s ease
    position relative
    margin -3px auto 0
    cursor pointer
    &:hover
        background-color #ffec1b
        background-image none
