/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_checkbox_checked_name = 'icon-checkbox-checked';
$icon_checkbox_checked_x = 622px;
$icon_checkbox_checked_y = 311px;
$icon_checkbox_checked_offset_x = -622px;
$icon_checkbox_checked_offset_y = -311px;
$icon_checkbox_checked_width = 28px;
$icon_checkbox_checked_height = 28px;
$icon_checkbox_checked_total_width = 719px;
$icon_checkbox_checked_total_height = 622px;
$icon_checkbox_checked_image = 'img/sprite.png';
$icon_checkbox_checked = 622px 311px -622px -311px 28px 28px 719px 622px 'img/sprite.png' 'icon-checkbox-checked';
$icon_checkbox_name = 'icon-checkbox';
$icon_checkbox_x = 546px;
$icon_checkbox_y = 311px;
$icon_checkbox_offset_x = -546px;
$icon_checkbox_offset_y = -311px;
$icon_checkbox_width = 28px;
$icon_checkbox_height = 28px;
$icon_checkbox_total_width = 719px;
$icon_checkbox_total_height = 622px;
$icon_checkbox_image = 'img/sprite.png';
$icon_checkbox = 546px 311px -546px -311px 28px 28px 719px 622px 'img/sprite.png' 'icon-checkbox';
$icon_guarantee_name = 'icon-guarantee';
$icon_guarantee_x = 384px;
$icon_guarantee_y = 0px;
$icon_guarantee_offset_x = -384px;
$icon_guarantee_offset_y = 0px;
$icon_guarantee_width = 152px;
$icon_guarantee_height = 184px;
$icon_guarantee_total_width = 719px;
$icon_guarantee_total_height = 622px;
$icon_guarantee_image = 'img/sprite.png';
$icon_guarantee = 384px 0px -384px 0px 152px 184px 719px 622px 'img/sprite.png' 'icon-guarantee';
$icon_load_more_name = 'icon-load-more';
$icon_load_more_x = 660px;
$icon_load_more_y = 311px;
$icon_load_more_offset_x = -660px;
$icon_load_more_offset_y = -311px;
$icon_load_more_width = 27px;
$icon_load_more_height = 27px;
$icon_load_more_total_width = 719px;
$icon_load_more_total_height = 622px;
$icon_load_more_image = 'img/sprite.png';
$icon_load_more = 660px 311px -660px -311px 27px 27px 719px 622px 'img/sprite.png' 'icon-load-more';
$icon_lock_name = 'icon-lock';
$icon_lock_x = 697px;
$icon_lock_y = 311px;
$icon_lock_offset_x = -697px;
$icon_lock_offset_y = -311px;
$icon_lock_width = 14px;
$icon_lock_height = 20px;
$icon_lock_total_width = 719px;
$icon_lock_total_height = 622px;
$icon_lock_image = 'img/sprite.png';
$icon_lock = 697px 311px -697px -311px 14px 20px 719px 622px 'img/sprite.png' 'icon-lock';
$icon_logo_footer_name = 'icon-logo-footer';
$icon_logo_footer_x = 546px;
$icon_logo_footer_y = 85px;
$icon_logo_footer_offset_x = -546px;
$icon_logo_footer_offset_y = -85px;
$icon_logo_footer_width = 101px;
$icon_logo_footer_height = 72px;
$icon_logo_footer_total_width = 719px;
$icon_logo_footer_total_height = 622px;
$icon_logo_footer_image = 'img/sprite.png';
$icon_logo_footer = 546px 85px -546px -85px 101px 72px 719px 622px 'img/sprite.png' 'icon-logo-footer';
$icon_logo_inner_name = 'icon-logo-inner';
$icon_logo_inner_x = 546px;
$icon_logo_inner_y = 250px;
$icon_logo_inner_offset_x = -546px;
$icon_logo_inner_offset_y = -250px;
$icon_logo_inner_width = 72px;
$icon_logo_inner_height = 51px;
$icon_logo_inner_total_width = 719px;
$icon_logo_inner_total_height = 622px;
$icon_logo_inner_image = 'img/sprite.png';
$icon_logo_inner = 546px 250px -546px -250px 72px 51px 719px 622px 'img/sprite.png' 'icon-logo-inner';
$icon_logo_login_name = 'icon-logo-login';
$icon_logo_login_x = 168px;
$icon_logo_login_y = 0px;
$icon_logo_login_offset_x = -168px;
$icon_logo_login_offset_y = 0px;
$icon_logo_login_width = 206px;
$icon_logo_login_height = 147px;
$icon_logo_login_total_width = 719px;
$icon_logo_login_total_height = 622px;
$icon_logo_login_image = 'img/sprite.png';
$icon_logo_login = 168px 0px -168px 0px 206px 147px 719px 622px 'img/sprite.png' 'icon-logo-login';
$icon_logo_name = 'icon-logo';
$icon_logo_x = 0px;
$icon_logo_y = 217px;
$icon_logo_offset_x = 0px;
$icon_logo_offset_y = -217px;
$icon_logo_width = 206px;
$icon_logo_height = 147px;
$icon_logo_total_width = 719px;
$icon_logo_total_height = 622px;
$icon_logo_image = 'img/sprite.png';
$icon_logo = 0px 217px 0px -217px 206px 147px 719px 622px 'img/sprite.png' 'icon-logo';
$icon_star_red_name = 'icon-star-red';
$icon_star_red_x = 606px;
$icon_star_red_y = 349px;
$icon_star_red_offset_x = -606px;
$icon_star_red_offset_y = -349px;
$icon_star_red_width = 15px;
$icon_star_red_height = 15px;
$icon_star_red_total_width = 719px;
$icon_star_red_total_height = 622px;
$icon_star_red_image = 'img/sprite.png';
$icon_star_red = 606px 349px -606px -349px 15px 15px 719px 622px 'img/sprite.png' 'icon-star-red';
$icon_star_yellow_name = 'icon-star-yellow';
$icon_star_yellow_x = 581px;
$icon_star_yellow_y = 349px;
$icon_star_yellow_offset_x = -581px;
$icon_star_yellow_offset_y = -349px;
$icon_star_yellow_width = 15px;
$icon_star_yellow_height = 15px;
$icon_star_yellow_total_width = 719px;
$icon_star_yellow_total_height = 622px;
$icon_star_yellow_image = 'img/sprite.png';
$icon_star_yellow = 581px 349px -581px -349px 15px 15px 719px 622px 'img/sprite.png' 'icon-star-yellow';
$icon_step_1_name = 'icon-step-1';
$icon_step_1_x = 546px;
$icon_step_1_y = 0px;
$icon_step_1_offset_x = -546px;
$icon_step_1_offset_y = 0px;
$icon_step_1_width = 173px;
$icon_step_1_height = 75px;
$icon_step_1_total_width = 719px;
$icon_step_1_total_height = 622px;
$icon_step_1_image = 'img/sprite.png';
$icon_step_1 = 546px 0px -546px 0px 173px 75px 719px 622px 'img/sprite.png' 'icon-step-1';
$icon_step_2_name = 'icon-step-2';
$icon_step_2_x = 0px;
$icon_step_2_y = 374px;
$icon_step_2_offset_x = 0px;
$icon_step_2_offset_y = -374px;
$icon_step_2_width = 207px;
$icon_step_2_height = 83px;
$icon_step_2_total_width = 719px;
$icon_step_2_total_height = 622px;
$icon_step_2_image = 'img/sprite.png';
$icon_step_2 = 0px 374px 0px -374px 207px 83px 719px 622px 'img/sprite.png' 'icon-step-2';
$icon_step_3_name = 'icon-step-3';
$icon_step_3_x = 217px;
$icon_step_3_y = 374px;
$icon_step_3_offset_x = -217px;
$icon_step_3_offset_y = -374px;
$icon_step_3_width = 203px;
$icon_step_3_height = 83px;
$icon_step_3_total_width = 719px;
$icon_step_3_total_height = 622px;
$icon_step_3_image = 'img/sprite.png';
$icon_step_3 = 217px 374px -217px -374px 203px 83px 719px 622px 'img/sprite.png' 'icon-step-3';
$icon_strap_1_name = 'icon-strap-1';
$icon_strap_1_x = 0px;
$icon_strap_1_y = 577px;
$icon_strap_1_offset_x = 0px;
$icon_strap_1_offset_y = -577px;
$icon_strap_1_width = 227px;
$icon_strap_1_height = 45px;
$icon_strap_1_total_width = 719px;
$icon_strap_1_total_height = 622px;
$icon_strap_1_image = 'img/sprite.png';
$icon_strap_1 = 0px 577px 0px -577px 227px 45px 719px 622px 'img/sprite.png' 'icon-strap-1';
$icon_strap_2_name = 'icon-strap-2';
$icon_strap_2_x = 0px;
$icon_strap_2_y = 467px;
$icon_strap_2_offset_x = 0px;
$icon_strap_2_offset_y = -467px;
$icon_strap_2_width = 227px;
$icon_strap_2_height = 45px;
$icon_strap_2_total_width = 719px;
$icon_strap_2_total_height = 622px;
$icon_strap_2_image = 'img/sprite.png';
$icon_strap_2 = 0px 467px 0px -467px 227px 45px 719px 622px 'img/sprite.png' 'icon-strap-2';
$icon_strap_3_name = 'icon-strap-3';
$icon_strap_3_x = 237px;
$icon_strap_3_y = 467px;
$icon_strap_3_offset_x = -237px;
$icon_strap_3_offset_y = -467px;
$icon_strap_3_width = 227px;
$icon_strap_3_height = 45px;
$icon_strap_3_total_width = 719px;
$icon_strap_3_total_height = 622px;
$icon_strap_3_image = 'img/sprite.png';
$icon_strap_3 = 237px 467px -237px -467px 227px 45px 719px 622px 'img/sprite.png' 'icon-strap-3';
$icon_strap_4_name = 'icon-strap-4';
$icon_strap_4_x = 237px;
$icon_strap_4_y = 522px;
$icon_strap_4_offset_x = -237px;
$icon_strap_4_offset_y = -522px;
$icon_strap_4_width = 227px;
$icon_strap_4_height = 45px;
$icon_strap_4_total_width = 719px;
$icon_strap_4_total_height = 622px;
$icon_strap_4_image = 'img/sprite.png';
$icon_strap_4 = 237px 522px -237px -522px 227px 45px 719px 622px 'img/sprite.png' 'icon-strap-4';
$icon_strap_5_name = 'icon-strap-5';
$icon_strap_5_x = 0px;
$icon_strap_5_y = 522px;
$icon_strap_5_offset_x = 0px;
$icon_strap_5_offset_y = -522px;
$icon_strap_5_width = 227px;
$icon_strap_5_height = 45px;
$icon_strap_5_total_width = 719px;
$icon_strap_5_total_height = 622px;
$icon_strap_5_image = 'img/sprite.png';
$icon_strap_5 = 0px 522px 0px -522px 227px 45px 719px 622px 'img/sprite.png' 'icon-strap-5';
$icon_strap_6_name = 'icon-strap-6';
$icon_strap_6_x = 474px;
$icon_strap_6_y = 522px;
$icon_strap_6_offset_x = -474px;
$icon_strap_6_offset_y = -522px;
$icon_strap_6_width = 227px;
$icon_strap_6_height = 45px;
$icon_strap_6_total_width = 719px;
$icon_strap_6_total_height = 622px;
$icon_strap_6_image = 'img/sprite.png';
$icon_strap_6 = 474px 522px -474px -522px 227px 45px 719px 622px 'img/sprite.png' 'icon-strap-6';
$icon_strap_mv_name = 'icon-strap-mv';
$icon_strap_mv_x = 546px;
$icon_strap_mv_y = 206px;
$icon_strap_mv_offset_x = -546px;
$icon_strap_mv_offset_y = -206px;
$icon_strap_mv_width = 128px;
$icon_strap_mv_height = 34px;
$icon_strap_mv_total_width = 719px;
$icon_strap_mv_total_height = 622px;
$icon_strap_mv_image = 'img/sprite.png';
$icon_strap_mv = 546px 206px -546px -206px 128px 34px 719px 622px 'img/sprite.png' 'icon-strap-mv';
$icon_strap_yellow_name = 'icon-strap-yellow';
$icon_strap_yellow_x = 474px;
$icon_strap_yellow_y = 467px;
$icon_strap_yellow_offset_x = -474px;
$icon_strap_yellow_offset_y = -467px;
$icon_strap_yellow_width = 227px;
$icon_strap_yellow_height = 45px;
$icon_strap_yellow_total_width = 719px;
$icon_strap_yellow_total_height = 622px;
$icon_strap_yellow_image = 'img/sprite.png';
$icon_strap_yellow = 474px 467px -474px -467px 227px 45px 719px 622px 'img/sprite.png' 'icon-strap-yellow';
$icon_target_name = 'icon-target';
$icon_target_x = 684px;
$icon_target_y = 206px;
$icon_target_offset_x = -684px;
$icon_target_offset_y = -206px;
$icon_target_width = 29px;
$icon_target_height = 28px;
$icon_target_total_width = 719px;
$icon_target_total_height = 622px;
$icon_target_image = 'img/sprite.png';
$icon_target = 684px 206px -684px -206px 29px 28px 719px 622px 'img/sprite.png' 'icon-target';
$icon_upakovka_inner_name = 'icon-upakovka-inner';
$icon_upakovka_inner_x = 546px;
$icon_upakovka_inner_y = 167px;
$icon_upakovka_inner_offset_x = -546px;
$icon_upakovka_inner_offset_y = -167px;
$icon_upakovka_inner_width = 151px;
$icon_upakovka_inner_height = 29px;
$icon_upakovka_inner_total_width = 719px;
$icon_upakovka_inner_total_height = 622px;
$icon_upakovka_inner_image = 'img/sprite.png';
$icon_upakovka_inner = 546px 167px -546px -167px 151px 29px 719px 622px 'img/sprite.png' 'icon-upakovka-inner';
$icon_upakovka_name = 'icon-upakovka';
$icon_upakovka_x = 168px;
$icon_upakovka_y = 157px;
$icon_upakovka_offset_x = -168px;
$icon_upakovka_offset_y = -157px;
$icon_upakovka_width = 202px;
$icon_upakovka_height = 39px;
$icon_upakovka_total_width = 719px;
$icon_upakovka_total_height = 622px;
$icon_upakovka_image = 'img/sprite.png';
$icon_upakovka = 168px 157px -168px -157px 202px 39px 719px 622px 'img/sprite.png' 'icon-upakovka';
$icon_vbilet_name = 'icon-vbilet';
$icon_vbilet_x = 0px;
$icon_vbilet_y = 0px;
$icon_vbilet_offset_x = 0px;
$icon_vbilet_offset_y = 0px;
$icon_vbilet_width = 158px;
$icon_vbilet_height = 207px;
$icon_vbilet_total_width = 719px;
$icon_vbilet_total_height = 622px;
$icon_vbilet_image = 'img/sprite.png';
$icon_vbilet = 0px 0px 0px 0px 158px 207px 719px 622px 'img/sprite.png' 'icon-vbilet';
$icon_video_blue_big_name = 'icon-video-blue-big';
$icon_video_blue_big_x = 683px;
$icon_video_blue_big_y = 250px;
$icon_video_blue_big_offset_x = -683px;
$icon_video_blue_big_offset_y = -250px;
$icon_video_blue_big_width = 35px;
$icon_video_blue_big_height = 35px;
$icon_video_blue_big_total_width = 719px;
$icon_video_blue_big_total_height = 622px;
$icon_video_blue_big_image = 'img/sprite.png';
$icon_video_blue_big = 683px 250px -683px -250px 35px 35px 719px 622px 'img/sprite.png' 'icon-video-blue-big';
$icon_video_blue_name = 'icon-video-blue';
$icon_video_blue_x = 546px;
$icon_video_blue_y = 349px;
$icon_video_blue_offset_x = -546px;
$icon_video_blue_offset_y = -349px;
$icon_video_blue_width = 25px;
$icon_video_blue_height = 25px;
$icon_video_blue_total_width = 719px;
$icon_video_blue_total_height = 622px;
$icon_video_blue_image = 'img/sprite.png';
$icon_video_blue = 546px 349px -546px -349px 25px 25px 719px 622px 'img/sprite.png' 'icon-video-blue';
$icon_video_play_name = 'icon-video-play';
$icon_video_play_x = 657px;
$icon_video_play_y = 85px;
$icon_video_play_offset_x = -657px;
$icon_video_play_offset_y = -85px;
$icon_video_play_width = 51px;
$icon_video_play_height = 51px;
$icon_video_play_total_width = 719px;
$icon_video_play_total_height = 622px;
$icon_video_play_image = 'img/sprite.png';
$icon_video_play = 657px 85px -657px -85px 51px 51px 719px 622px 'img/sprite.png' 'icon-video-play';
$icon_video_name = 'icon-video';
$icon_video_x = 584px;
$icon_video_y = 311px;
$icon_video_offset_x = -584px;
$icon_video_offset_y = -311px;
$icon_video_width = 28px;
$icon_video_height = 28px;
$icon_video_total_width = 719px;
$icon_video_total_height = 622px;
$icon_video_image = 'img/sprite.png';
$icon_video = 584px 311px -584px -311px 28px 28px 719px 622px 'img/sprite.png' 'icon-video';
$icon_zoom_name = 'icon-zoom';
$icon_zoom_x = 628px;
$icon_zoom_y = 250px;
$icon_zoom_offset_x = -628px;
$icon_zoom_offset_y = -250px;
$icon_zoom_width = 45px;
$icon_zoom_height = 46px;
$icon_zoom_total_width = 719px;
$icon_zoom_total_height = 622px;
$icon_zoom_image = 'img/sprite.png';
$icon_zoom = 628px 250px -628px -250px 45px 46px 719px 622px 'img/sprite.png' 'icon-zoom';
$spritesheet_width = 719px;
$spritesheet_height = 622px;
$spritesheet_image = 'img/sprite.png';
$spritesheet_sprites = $icon_checkbox_checked $icon_checkbox $icon_guarantee $icon_load_more $icon_lock $icon_logo_footer $icon_logo_inner $icon_logo_login $icon_logo $icon_star_red $icon_star_yellow $icon_step_1 $icon_step_2 $icon_step_3 $icon_strap_1 $icon_strap_2 $icon_strap_3 $icon_strap_4 $icon_strap_5 $icon_strap_6 $icon_strap_mv $icon_strap_yellow $icon_target $icon_upakovka_inner $icon_upakovka $icon_vbilet $icon_video_blue_big $icon_video_blue $icon_video_play $icon_video $icon_zoom;
$spritesheet = 719px 622px 'img/sprite.png' $spritesheet_sprites;

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

// The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.


/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}


// The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
// It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon_home_group = 'icon-home' $icon_home $icon_home_2x;
//
// .icon-home {
// 	retinaSprite($icon_home_group)
// }


spriteBackgroundSize($sprite) {
	background-size $sprite[6] $sprite[7]
}

retinaSprite($retina_group) {
	$normal_sprite = $retina_group[1]
	$retina_sprite = $retina_group[2]
	sprite($normal_sprite)

	@media (-webkit-min-device-pixel-ratio: 2),
				 (min-resolution: 192dpi) {
		spriteImage($retina_sprite)
		spriteBackgroundSize($normal_sprite)
	}
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

// The `retinaSprites` mixin generates a CSS rule and media query for retina groups
// This yields the same output as CSS retina template but can be overridden in Stylus
//
// retinaSprites($retina_groups)

retinaSprites($retina_groups) {
	for $retina_group in $retina_groups {
		$sprite_name = $retina_group[0];
		.{$sprite_name} {
			retinaSprite $retina_group
		}
	}
}
