include ../blocks/header-inner/header-inner
include ../blocks/footer-inner/footer-inner
include ../blocks/popups/popups

doctype html

// Верстка сайта: http://web-master-pro.ru 

html(lang="ru-RU")

    head
        meta(charset="utf-8")
        title Публичная офферта | Мирный воин

        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="generator" content="web-master-pro.ru")

        link(rel="stylesheet" href="assets/css/style.min.css?rev=@@hash")

        link(rel="apple-touch-icon", sizes="57x57", href="assets/img/favicons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="assets/img/favicons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="assets/img/favicons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="assets/img/favicons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="assets/img/favicons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="assets/img/favicons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="assets/img/favicons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="assets/img/favicons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="assets/img/favicons/apple-touch-icon-180x180.png")
        link(rel="icon", type="image/png", href="assets/img/favicons/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="assets/img/favicons/android-chrome-192x192.png", sizes="192x192")
        link(rel="icon", type="image/png", href="assets/img/favicons/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="assets/img/favicons/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="assets/img/favicons/manifest.json")
        //- link(rel="mask-icon", href="assets/img/favicons/safari-pinned-tab.svg", color="#ffea00")
        link(rel="shortcut icon", href="assets/img/favicons/favicon.ico")
        meta(name="apple-mobile-web-app-title", content="Мирный воин")
        meta(name="application-name", content="Мирный воин")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="msapplication-TileImage", content="assets/img/favicons/mstile-144x144.png")
        meta(name="msapplication-config", content="assets/img/favicons/browserconfig.xml")
        meta(name="theme-color", content="#ffffff")
        style

    body.page-inner
        +header-inner-short()
        .page-inner__content

            h1 Публичная офферта

            h2 1.УСЛОВНЫЕ СОГЛАШЕНИЯ

            p 1.1. Условные соглашения — это определения, присутствующие в настоящем Договоре, являющиеся его неотъемлемой частью.

            p 1.2. Определения трактуются, исходя из их сущности и содержания настоящего Договора. Ниже приведен список этих определений:

            p 1.3. Информационно-консультационные услуги — дистанционное консультирование Заказчика посредством электронных каналов голосовой и видеосвязи в форме семинара, вебинара, тренинга или учебного курса (далее – Услуги).

            p 1.4. Программа предоставления Услуг – перечень организационных, информационно-консультационных мероприятий, определение методики и формата дистанционного обучения, направленных на выполнение Исполнителем обязательства по оказанию Услуг Заказчику.

            p 1.5. Заказчик: юридическое или физическое лицо, обратившееся на сайт <a href="http://kurs.mvoin.ru">http://kurs.mvoin.ru/</a> , имеющее намерение воспользоваться Услугами и оплатить Услуги.

            p 1.6. Исполнитель: Индивидуальный Предприниматель Геня Роман Юрьевич, ОГРНИП 315028000119236, ИНН 027622187688.

            h2 2. ОБЩИЕ ПОЛОЖЕНИЯ

            p 2.1. Отношения в области защиты прав потребителей регулируются Гражданским кодексом РФ, Законом “О защите прав потребителей” и принимаемыми в соответствии с ним иными федеральными законами и правовыми актами Российской Федерации.

            h2 3. АКЦЕПТ ДОГОВОРА

            p 3.1. Текст настоящего Договора является публичной офертой (в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса РФ).

            p 3.2. Настоящий договор-оферта размещен на официальном сайте Исполнителя <a href="http://kurs.mvoin.ru">http://kurs.mvoin.ru/</a> и является официальным документом.

            p 3.3. Акцепт (принятие) оферты — оплата заказанных Услуг путем предоплаты в порядке, определяемом настоящим Договором, и использование Услуг Исполнителя. Акцептирование Заказчиком настоящего Договора означает, что он полностью согласен со всеми положениями настоящего Договора.

            p 3.4. Для акцепта оферты Заказчик заполняет регистрационную форму, размещенную на официальном сайте Исполнителя <a href="http://kurs.mvoin.ru">http://kurs.mvoin.ru/</a>. Заполненная Заказчиком регистрационная форма является основанием для выставления Исполнителем счета на оплату Услуг.

            p 3.5. Исполнитель направляет счет на оплату Услуг Заказчику на адрес электронной почты Заказчика.

            p 3.6. Заказчик оплачивает выставленный Исполнителем счет на оплату Услуг.

            h2 4. ПРЕДМЕТ ДОГОВОРА

            p 4.1. В соответствии с условиями настоящего Договора, Исполнитель обязуется оказать Заказчику Услуги, определенные п. 1.3.

            p 4.2 Программу предоставления Услуги определяет Исполнитель.

            h2 5. ОБЯЗАННОСТИ И ПРАВА СТОРОН

            p Исполнитель обязуется:

            p 5.1. Предоставить Заказчику полную информацию об Услугах и программе их предоставления (продолжительность, место проведения, организация обслуживания).

            p 5.2. Оказать Услуги Заказчику в заявленные сроки надлежащим образом, в соответствии с условиями настоящего Договора.

            p 5.3. Обеспечить Заказчику предоставление информационно-справочных материалов в рамках оказания Услуг.

            p 5.4. Предоставлять по требованию Заказчика – юридического лица акт об оказании Услуг.

            p 5.5. Не разглашать конфиденциальную информацию и данные, предоставленные Заказчиком в связи с исполнением настоящего Договора.

            h3 Исполнитель вправе:

            p 5.6. Пользоваться услугами любых физических и юридических лиц, в целях своевременного и качественного исполнения обязательств по Договору.

            p 5.7. Требовать от Заказчика своевременной и полной оплаты стоимости Услуг в соответствии с условиями настоящего Договора.

            p 5.8. Переносить сроки предоставления Услуг. Обо всех изменениях в расписании Заказчик уведомляется в учебной группе в социальной сети «Вконтакте».

            p 5.9. Вносить несущественные изменения в программу предоставления Услуг.

            h3 Заказчик обязуется:

            p 5.10. Оплатить своевременно и полностью стоимость Услуг, оказываемых Исполнителем в порядке, в сроки и в размере, установленных настоящим Договором.

            p 5.11. Предоставить Исполнителю все сведения и данные, необходимые для выполнения Исполнителем своих обязательств по настоящему Договору.

            p 5.12. Подписать в Акт об оказании услуг (п. 5.4.) в течение пяти рабочих дней с момента получения Акта от Исполнителя по почте или по электронным каналам связи и направить его Исполнителю почтой или по электронным каналам связи.

            p Если Акт об оказании услуг не оспорен Заказчиком в течение пяти рабочих дней с момента его предоставления, то он считается подписанным Заказчиком.

            p 5.13. Не разглашать конфиденциальную информацию и иные данные, предоставленные Исполнителем в связи с исполнением настоящего Договора.

            p 5.14. Самостоятельно следить за изменениями в расписании и иной информацией, размещенной в учебной группе в социальной сети «Вконтакте».

            h3 Заказчик вправе:

            p 5.15. Требовать от Исполнителя выполнения его обязательств по настоящему Договору в срок и с надлежащим качеством.

            h2 6. СТОИМОСТЬ УСЛУГ И ПОРЯДОК РАСЧЕТОВ

            p 6.1. Стоимость услуг Исполнителя и возможные способы оплаты публикуются на сайте. Стоимость Услуг указывается в регистрационной форме и фиксируется в счете на оплату.

            p 6.2. Оплата Услуг по настоящему Договору осуществляется на основе стопроцентной предоплаты и в порядке, устанавливаемом настоящим Договором.

            p 6.3. Исполнитель не может менять стоимость оплаченных услуг для конкретного Заказчика в случае, если тот уже принял условия Исполнителя и произвел оплату обучения в установленном настоящим Договором порядке.

            p 6.4. Заказчику не предоставляются Услуги до момента их оплаты. Моментом оплаты считается поступление средств на счет Исполнителя.

            p 6.5. Заказчик самостоятельно несет ответственность за правильность производимых им платежей.

            p 6.6. Оплата Услуг производится Заказчиком путем перечисления денежных средств в пользу Исполнителя не позднее, чем за один день до дня начала оказания Услуг. Иные условия могут быть оговорены с Исполнителем в индивидуальном порядке.

            p 6.7. При оплате Услуг в несколько этапов по согласованию с Исполнителем, в случае, если оплата не будет полностью внесена в указанные сроки, Заказчику будет отказано в предоставлении Услуг и денежные средства будут возвращены за минусом 10% от стоимости курса (но не менее 1000 руб.00коп).

            h2 7. ОТВЕТСТВЕННОСТЬ СТОРОН

            p 7.1. Меры ответственности сторон, не предусмотренные настоящим Договором, применяются в соответствии с законодательством Российской Федерации.

            p 7.2. За невыполнение или ненадлежащее выполнение обязательств по настоящему Договору Исполнитель и Заказчик несут ответственность в соответствии с условиями настоящего Договора и действующим законодательством Российской Федерации.

            h2 8. ФОРС-МАЖОР

            p 8.1. При возникновении форс-мажорных обстоятельств (в толковании, принятом практикой суда арбитража Торгово-промышленной палаты России), исключающих или объективно препятствующих исполнению данного Договора, Стороны не имеют взаимных претензий, и каждая из Сторон принимает на себя свой риск последствий этих обстоятельств.

            h2 9. РАЗРЕШЕНИЕ СПОРОВ

            p 9.1. Споры и разногласия, возникающие при исполнении настоящего Договора, будут решаться путем переговоров между сторонами настоящего Договора.

            p 9.2. В случае, если указанные в п. 9.1. споры и разногласия не могут быть решены указанным способом, они подлежат урегулированию в судебном порядке в соответствии с действующим законодательством Российской Федерации.

            h2 10. СРОК ДЕЙСТВИЯ ДОГОВОРА

            p 10.1. Настоящий Договор заключается на срок предоставления оплаченных Заказчиком Услуг.

            p 10.2. В случае досрочного отказа Заказчика от исполнения Договора Исполнитель возвращает Заказчику по его письменному требованию сумму предоплаты в соответствии с условиями Правил возврата денежных средств (Приложение 1), являющихся неотъемлемой частью настоящего договора. Возврат осуществляется в течение тридцати рабочих дней с момента расторжения Договора.

            p 10.3. Настоящий Договор остается в силе в случае изменения реквизитов Сторон, изменения их учредительных документов, включая, но не ограничиваясь, изменением собственника, организационно-правовой формы и др. Исполнитель вправе передать права и обязанности по Договору другому лицу. В случае изменения реквизитов Стороны обязаны в 7-дневный срок уведомить об этом друг друга.

            p Индивидуальный предприниматель Геня Роман Юрьевич

            p ОРГН/ОГРНИП 315028000119236, 

            p ИНН 027622187688,

            p сайт <a href="http://kurs.mvoin.ru">http://kurs.mvoin.ru/</a> 


        +footer-inner()

        .hidden
            +popup-privacy()

        <!--[if lt IE 9]>
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
        <![endif]-->

        //- include inc/metrika.html

        script(src="https://code.jquery.com/jquery-2.2.3.min.js")
        script window.jQuery || document.write('<script src="assets/js/jquery.min.js"><\/script>')
        script(src="assets/js/plugins.min.js?rev=@@hash")
        script(src="assets/js/main.min.js?rev=@@hash")
