mixin s-povestka(addclass)
    section.s-povestka(class= addclass)#povestka
        .s-povestka__in
            img(src="assets/img/s-povestka-guy.png" width="600" height="680" alt="").s-povestka__photo
            h2.s-povestka__title Начался призыв и тебе пришла повестка?
            p.s-povestka__subtitle Прятаться от военкомата - не вариант
            p.s-povestka__text Вариант - получить военный билет, освобождающий от обязательной службы и иметь полный контроль над своей жизнью.
