mixin s-povestka(addclass)
    section.s-povestka(class= addclass)#povestka
        .s-povestka__in
            h2.s-povestka__title Начался призыв и тебе пришла повестка?
            p.s-povestka__subtitle Прятаться от военкомата - не вариант
            p.s-povestka__text Вариант - получить военный билет, освобождающий от обязательной службы и иметь полный контроль над своей жизнью.
            img(src="" alt="").s-povestka__photo
