mixin s-faq(addclass)
    section.s-faq(class= addclass)#faq
        .s-faq__in
            h2.s-faq__title Защити свои права и получи военный билет. Никого не бойся, им тебя не сломать.
            ul.s-faq__list
                li.s-faq__item.active
                    a(href="#").s-faq__question
                        h3.s-faq__question-title Какие гарантии, что я получу военный билет?
                    .s-faq__answer
                        p Курс разрабатывался для того, чтобы любой смог получить военный билет. Если ты выполнишь все рекомендации точно, пошагово, у тебя большие шансы. На практике каждый второй получает военный билет за 1-2 призыва. Минимум ты добьешься отсрочки и сможешь продолжить отстаивать право на освобождении от армии. Для личной консультации обращайся в службу «Мирный Воин» или напрямую к Талгату Юнусову. 
                li.s-faq__item
                    a(href="#").s-faq__question
                        h3.s-faq__question-title Работает ли эта инструкция по всей России?
                    .s-faq__answer
                        p Да, курс актуален для всех регионов Российской Федерации, но не пытайся помочь друзьям из соседних республик: Украины, Беларуси, Казахстана. Там - другие законы и другая процедура получения военного билета.
                li.s-faq__item
                    a(href="#").s-faq__question
                        h3.s-faq__question-title Может ли военком притянуть меня к уголовной ответственности за то, что я доказываю свою непригодность к армии?
                    .s-faq__answer
                        p Конeчно, нет. Твои действия полностью законны, не поддавайся на прессинг сотрудников военкомата. Ни о какой уголовной ответственности не может быть и речи. На курсе я расскажу тебе, как действовать в случаях, когда на тебя оказывают давление и принуждают к службе, игнорируя твои права.
                li.s-faq__item
                    a(href="#").s-faq__question
                        h3.s-faq__question-title Я думаю, что абсолютно здоров. Есть у меня шансы получить военный билет?
                    .s-faq__answer
                        p Бывают случаи, когда во время обследований ребята обнаруживают заболевания, о которых даже не подозревали. Это, во-первых, освобождает их от армии, а во-вторых, позволяет начать лечение как можно скорее. Еще один момент: симптомы некоторых болезней не проявляются на гражданке, и ты почувствуешь их только в экстремальных условиях. Сейчас ты думаешь, что здоров, как бык, но на службе все может резко измениться. Позаботься о себе и не дай близким поводов для беспокойства – если у тебя есть противопоказания по здоровью, обнаружь их и не служи.
                li.s-faq__item
                    a(href="#").s-faq__question
                        h3.s-faq__question-title Я студент и у меня отсрочка. Подойдет ли мне курс?
                    .s-faq__answer
                        p Конечно, подойдет. Курс рассчитан не только на призывников, но и на тех, кто познакомится с военкоматом в ближайшем будущем. Ведь учеба закончится и ты, если у тебя нет военного билета, пойдешь служить в армию. Или станешь укрываться. Но зачем тебе это? Сейчас есть время выполнить все рекомендаций без спешки и получить желанный документ. Учись хорошо, а после учебы строй карьеру или открой свое дело.
                li.s-faq__item
                    a(href="#").s-faq__question
                        h3.s-faq__question-title У меня несколько заболеваний, стоит ли мне опасаться военкома?
                    .s-faq__answer
                        p Добиваться нужно категории В (не годен в мирное время, но в запасе) и Д (совсем не годен). Если одно из заболеваний попадает под эти категории, а другое – под категорию Г (не годен на определённый период), есть вероятность, что военкомат настоит на достоверности только заболевания категории Г. Ты получишь отсрочку на 6-12 месяцев, но не освобождение от армии. Прослушав курс, ты узнаешь, как правильно доказать болезнь по категории В и Д, и навсегда забыть об армии.
