mixin s-steps(addclass)
    section.s-steps(class= addclass)#steps
        .s-steps__in
            h2.s-steps__title Три шага к полной свободе
            ol.s-steps__list
                li.s-steps__item Смотришь видеокурс
                li.s-steps__item Следуешь рекомендациям
                li.s-steps__item Получаешь военный билет
