mixin s-steps(addclass)
    section.s-steps(class= addclass)#steps
        .s-steps__in
            h2.s-steps__title Три шага к полной свободе
            .s-steps__step-1.wow.fadeIn(data-wow-delay="0.5s")
            .s-steps__step-2.wow.fadeIn(data-wow-delay="1.5s")
            .s-steps__step-3.wow.fadeIn(data-wow-delay="2.5s")
            ol.s-steps__list
                li.s-steps__item Смотришь видеокурс
                li.s-steps__item Следуешь рекомендациям
                li.s-steps__item Получаешь военный билет
