mixin s-kurs(addclass)
    section.s-kurs(class= addclass)#kurs
        .s-kurs__in
            h2.s-kurs__title Решить проблему поможет авторский видеокурс Талгата Юнусова
            p.s-kurs__text Это самый <strong>быстрый, надежный</strong> и <strong>дешевый</strong> способ остаться на гражданке. 
            p.s-kurs__text <strong>Легально избежать призыва сможет каждый!<strong>
            .s-kurs__button-block
                button.s-kurs__button Заказать курс
                p.s-kurs__subbutton и получить доступ к видеоматериалам
