mixin s-kurs(addclass)
    section.s-kurs(class= addclass)#kurs
        img(src="assets/img/s-kurs-cover.jpg" width="1000" height="838" alt="Мирный воин").s-kurs__cover
        .s-kurs__in
            .s-kurs__content
                h2.s-kurs__title Решить проблему поможет авторский видеокурс Талгата&nbsp;Юнусова
                p.s-kurs__text Это самый <strong>быстрый, надежный</strong> и <strong>дешевый</strong> способ остаться на гражданке. 
                p.s-kurs__text.s-kurs__text--bold Легально избежать призыва сможет каждый!
                .s-kurs__button-block
                    button(href="#popup-order").s-kurs__button.js-popup Заказать курс
                    p.s-kurs__subbutton и получить доступ к видеоматериалам
        img(src="assets/img/boot.png" width="817" height="854" alt="").s-kurs__boot
