mixin s-feedbacks(addclass)
    section.s-feedbacks(class= addclass)
        .s-feedbacks__in
            h2.s-feedbacks__title Убедитесь сами
            ul.s-feedbacks__videos
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Эдуард, 19 лет
                    a(href="https://www.youtube.com/watch?v=cHbJDxyMoiA").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Марат, 24 года
                    a(href="https://www.youtube.com/watch?v=Ebr9o1XvAcs").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-2.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Тимур, 24 года
                    a(href="https://www.youtube.com/watch?v=VEJUeThllA0").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-3.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Ильгам, 20 лет
                    a(href="https://www.youtube.com/watch?v=4zJWRr81g2k").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-4.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Салават, 18 лет
                    a(href="https://www.youtube.com/watch?v=NXoH50t7exo").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-5.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay

            button.s-feedbacks__button-more Загрузить еще
