mixin s-feedbacks(addclass)
    section.s-feedbacks(class= addclass)
        .s-feedbacks__in
            h2.s-feedbacks__title Убедитесь сами
            ul.s-feedbacks__videos
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Иван, 19 лет
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Марат, 24 года
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Роман, 22 года
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Костя, 19 лет
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Талгат, 24 года
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Василий, 22 года
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Василий, 22 года
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Василий, 22 года
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Василий, 22 года
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Василий, 22 года
                    a(href="https://www.youtube.com/watch?v=J9AXqGaY__w").s-feedbacks__video-link.js-popup-youtube
                        img(src="assets/img/feedbacks/feedback-1.jpg" width="280" height="190" alt="").s-feedbacks__video-img
                        .s-feedbacks__video-overlay
                

            button.s-feedbacks__button-more Загрузить еще
