mixin s-feedbacks(addclass)
    section.s-feedbacks(class= addclass)#feedbacks
        .s-feedbacks__in
            h2.s-feedbacks__title Убедитесь сами
            ul.s-feedbacks__videos
                li.s-feedbacks__video
                    h3.s-feedbacks__video-title Иван, 19 лет
                    a(href="#").s-feedbacks__img
                        img(src="assets/img/feedbacks/feedback-1.jpg" alt="").s-feedbacks__img
                    h3.s-feedbacks__video-title Марат, 24 года
                    a(href="#").s-feedbacks__img
                        img(src="assets/img/feedbacks/feedback-2.jpg" alt="").s-feedbacks__img
                    h3.s-feedbacks__video-title Роман, 22 года
                    a(href="#").s-feedbacks__img
                        img(src="assets/img/feedbacks/feedback-3.jpg" alt="").s-feedbacks__img
                    h3.s-feedbacks__video-title Костя, 19 лет
                    a(href="#").s-feedbacks__img
                        img(src="assets/img/feedbacks/feedback-4.jpg" alt="").s-feedbacks__img
                    h3.s-feedbacks__video-title Талгат, 24 года
                    a(href="#").s-feedbacks__img
                        img(src="assets/img/feedbacks/feedback-5.jpg" alt="").s-feedbacks__img
                    h3.s-feedbacks__video-title Василий, 22 года
                    a(href="#").s-feedbacks__img
                        img(src="assets/img/feedbacks/feedback-6.jpg" alt="").s-feedbacks__img
            
            button.s-feedbacks__button-more Загрузить еще
